body {
    margin-top: 50px;
}
.navbar-header {
    color: #fff;
    font-size: 30px;
}
.user-info {
    color:#fff;
    font-size: 18px;
    padding-top:10px;
}
#search-results td {
    vertical-align: middle;
}
