{% extends 'base.html' %}
{% load restaurant_list %}
{% block content %}
<table id="search-results" class="table table-hover " style="vertical-align: middle;">
    <thead>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Google Rating</th>
        <th>Price</th>
    </thead>
    {% for r in object_list|dictsortreversed:"total_rating" %}
    <tr>
        <td>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            {{r.total_rating}}
        </td>
        <td>
            <img src="{{r.icon}}" height="20px" width="20px"/><br>
        </td>
        <td>
            {{r.name}}
        </td>
        <td>
            {{r.google_rating}}
        </td>
        <td>
            {{r.price_level|dollar_sign}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
