{% extends 'base.html' %}
{% load restaurant_list %}
{% block content %}

{% if restaurant %}
<table id="search-results" class="table table-hover " style="vertical-align: middle;">
    <thead>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Address</th>
        <th>Google Rating</th>
        <th>Price</th>
    </thead>
    {% for r in restaurant|dictsortreversed:"total_rating" %}
    {% if r not in user.userprofile.dislike.all %}
    <tr>
        <td>
            {% csrf_token %}
            <div class="restaurant_id hidden">{{r.id}}</div>
            <span class="glyphicon vote glyphicon glyphicon-arrow-up"></span>
            <span class="rating">{{r.total_rating}}</span>
            <span class="glyphicon vote glyphicon glyphicon-arrow-down"></span>
        </td>
        <td onclick="document.location = '{% url 'restaurant_detail' pk=r.id %}';">
            <img src="{{r.icon}}" height="20px" width="20px"/><br>
        </td>
        <td onclick="document.location = '{% url 'restaurant_detail' pk=r.id %}';">
            {{r.name}}
        </td>
        <td onclick="document.location = '{% url 'restaurant_detail' pk=r.id %}';">
            {{r.formatted_address}}
        </td>
        <td onclick="document.location = '{% url 'restaurant_detail' pk=r.id %}';">
            {{r.google_rating}}
        </td>
        <td onclick="document.location = '{% url 'restaurant_detail' pk=r.id %}';">
            {% autoescape off %}
            {{r.price_level|dollar_sign}}
            {% endautoescape %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
    {% else %}
    <h3>Please add some restaurants, by using the search in the sidebar.</h3>
    {% endif %}
{% endblock %}
