{% extends 'base.html' %}
{% load restaurant_list %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">{{object.name}}</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <p><strong>Fueled Rating</strong></p>
                <span class="glyphicon glyphicon-fire"></span>
                {{object.total_rating}}
            </div>
            <div class="col-sm-3">
                <p><strong>Google Rating</strong></p>
                <span class="glyphicon glyphicon-user"></span>
                {{object.google_rating}}
            </div>
            <div class="col-sm-3">
                <p><strong>Price</strong></p>
                {% autoescape off %}
                {{object.price_level|dollar_sign}}
                {% endautoescape %}
            </div>
            <div class="col-sm-1 pull-right">
                <img src="{{object.icon}}" height="50px" width="50px" />
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Comments</h3></div>
    <div class="panel-body">
        {% for c in comments %}
        <div class="comment">
            <div class="row">
                <div class="col-sm-12">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                    <span class="glyphicon glyphicon-user"></span> {{c.user.first_name}} {{c.user.last_name}} 
                    <div class="pull-right created-date">{{c.created}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{c.comment}}
                    {%for s in c.subcomment_set.all %}
                    <div class="row sub-comment">
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="glyphicon glyphicon-user"></span> {{s.user.first_name}} {{s.user.last_name}} 
                                    <div class="pull-right created-date">{{s.created}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11">
                                    {{s.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        <div class="sub-comment-form">
            {% include 'restaurants/sub_comment.html' %}
        </div>
        </div>
        {% endfor %}

    </div>
</div>
<form method="POST" action="">
    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
